#TODO: we need define a base image
#image: ubuntu:18.04

# Check C++ code formatting using clang-format
# Since the GitLab CI API doesn't currently provide an MR Commit SHA so that we can
# run all the files modified in the current MR (Single Commit is doable) we just
# run clang-format for the diff between "empty tree magic SHA" and the current commit
# on all the C++ files (by extension: c,cc,cpp,cxx,h)
# Discussion on the "empty tree magic SHA": https://stackoverflow.com/questions/9765453/
check_formatting:
    image: ubuntu:20.04
    stage: build
    before_script:
        - apt-get update && apt-get install -y clang-format-6.0 git-core
    script:
        - echo `which clang-format-6.0`
        - ln -s `which clang-format-6.0` /usr/bin/clang-format
        - cd "$CI_PROJECT_DIR"
        - linter_errors=$(git-clang-format-6.0 --commit "HEAD~1" -q --diff | grep -v --color=never "no modified files to format" || true)
        - echo "$linter_errors"
        - if [ ! -z "$linter_errors" ]; then echo "Detected formatting issues; please fix"; exit 1; else echo "Formatting is correct"; exit 0; fi


build:
  image: grpc/cxx
  stage: build
  before_script:
    - apt update --yes
    - apt-get install --yes build-essential cmake software-properties-common autoconf automake libtool pkg-config ca-certificates wget git curl vim gdb valgrind libssl-dev liburiparser1 liburiparser-dev protobuf-compiler libprotobuf-dev check lcov gcovr libjansson-dev libcjose-dev
    - cd /tmp
    - git clone -b v1.34.0 https://github.com/grpc/grpc /var/local/git/grpc && \
		- cd /var/local/git/grpc && \
    - git submodule update --init && \
    - echo "--- installing protobuf ---" && \
    - cd third_party/protobuf && \
    ./autogen.sh && ./configure --enable-shared && \
    - make -j8 && make -j8 check && make install && make clean && ldconfig && \
    - echo "--- installing grpc ---" && \
    - cd /var/local/git/grpc && \
    - make -j8 && make install && make clean && ldconfig
    - cd $CI_PROJECT_DIR
  script:
    - mkdir build && cd build
    - cmake ..
    - make
    - make  test
